@import 'utils';

.button{
      display: inline-block;
      font-size: 1rem;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      font-weight: 600;
      cursor: pointer;
      user-select: none;

      //default color
      background: $oc-gray-3;
      &:hover{
            background: $oc-gray-2;
      }
      &:active{
            background: $oc-gray-3;
      }

      &.round{
            border-radius: 5px;
      }

      &.invert{
            border: 2px solid white;
            color : white;
            background: transparent;
            transition: box-shadow .15s ease-in;
            &:hover{
                  background: white;
                  color: $oc-gray-9;
                  @include material-shadow(2);
            }
            &:active {
                  @include material-shadow(2, 2);
                  background: rgb(230,230,230);
                  border: 2px solid rgb(230,230,230);
                  color:$oc-gray-8;
            }
      }
      &.flex{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
      }
      &.flex + &.flex {
            margin-left : 1rem;
      }
      &.flat{
            border-radius: 2px;
            transition: all .15s ease-in;
            &:hover{
                  @include material-shadow(2);
            }
      }
      &.white {
            background: white;
            border: 1px solid $oc-gray-1;
      
            &:hover {
              background: $oc-gray-1;
            }
            &:active {
              background: $oc-gray-1;
            }
      }

      &.cyan{
            color: white;
            background: $oc-cyan-8;
            &:hover{
                  background: $oc-cyan-7;
            }
            &:active{
                  background: $oc-cyan-8;
      }

      }
      &.dark {
            color: white;
            background: $oc-gray-7;
            &:hover {
              background: $oc-gray-6;
            }
            &:active {
              background: $oc-gray-8;
            }
      }
      &.disabled {
            background: $oc-gray-3;
            color: $oc-gray-5;
            cursor: default;
            &:hover {
                  box-shadow: none;
                  background: $oc-gray-3;
            }
            &:active {
                  background: $oc-gray-3;
            }
      }
}