@import 'utils';
.title{
      font-size: 1.7rem;
      padding: 5px;
      font-weight: 900;
      border-left: 7px solid $oc-cyan-8;
      display: flex;

      .button{
            margin-left: auto;
      }
      
}