@import 'utils';
.app{
      display: flex;
      flex-direction: row;
      background: $oc-gray-2;
      overflow-x: hidden;
      overflow-y: auto;
      word-wrap: break-word;
      main{
            transition: all .5s ease-in-out;
            width: 100%;
            display: flex;
            flex-direction: column;
            .button{ 
                  z-index: z-index-for('floatng-button');
                  position: fixed;
                  margin-top: 1rem;
                  margin-left: 1rem;
                  cursor: pointer;
                  background:$oc-gray-7;
                  @include material-shadow(3);
                  height: $float-button-height;
                  width: $float-button-width;
                  border-radius: 5px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  opacity: 0.5;
                  .icon{
                        font-size: $float-button-icon-size;
                        color: $oc-gray-0;
                  }
                  &:hover{
                     background:$oc-gray-8;
                     opacity: 1;
                  }
                  &:active{
                     background:$oc-gray-6;
                  }
            }
            .cover{
                  overflow-x: hidden;
                  overflow-y: auto;
                  word-wrap: break-word;
                  width: 100%;
                  .center{
                     min-height: calc(100vh - 15rem);
                     background: $oc-gray-1;
                  }
            }
            .footer{
                  height: 5rem;
                  background: $oc-gray-7;
                  background: #222629 url("static/images/overlay.png");
                  box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
                  display : flex;
                  align-items: center;
                  .des{
                        flex:1;
                        color :white;
                        font-size: 1.2rem;
                        font-weight: 600;
                        text-align: right;
                        padding-right: 1rem;
                        b{
                              color: $oc-cyan-9;
                              font-weight: 800;
                        }
                  }
            }
      }
      li + li {
            padding-top: 0.5rem;
      }
}