@import 'utils';

.login-modal {
  background: white;
  display: flex;
  flex-direction: column;
  width: 400px;
  position: relative;
  transition: ease-in-out all 0.5s;
  @include media(">wide"){
        width: 400px;
  }
  @include media("<large"){
        width: 350px;
  }
  @include media("<medium"){
        width: 300px;
  }

  @include material-shadow(3);

  .bar {
    height: 15px;
  //  background: linear-gradient(to right, $oc-gray-9,$oc-gray-6);
    background: $oc-gray-7;
  }

  .content {
    padding: 2rem;

    .error{
      color:$oc-red-4;
      font-weight: 600;
      text-align: center;
      
    }

    b{
      color: $oc-cyan-9;
      font-weight: 900;
    }
    .login {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .separator { 
      display: block;
      background: $oc-gray-2;
      width: 100%;
      height: 1px;
      margin-top: 1rem;
      position: relative;
      margin-bottom: 1rem;
      .or {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-weight: 900;
        color: $oc-gray-5;
        font-size: 0.8rem;
      }
    
    }
  }
}