@import 'utils';
body {
      margin: 0;
      box-sizing: border-box;
      font-family: 'Nanum Square';
      background: #e1e5e9;
}
html{
      font-size: $normal-font-size;
      @include media(">=narrow") {
            font-size: $wide-font-size;
      }
      @include media("<narrow") {
            font-size: $normal-font-size;
      }
}
*, *:before, *:after {
      box-sizing: inherit;
}
a {
      text-decoration: inherit;
      color: inherit;
}