@import 'utils';

.markdown-render {
  
  img{
    width: 100%;
    height: auto;
    @include material-shadow(2,1);
    border-radius: 10px;
  }

  strong{
    font-weight: 900;
    color: $oc-cyan-9;
  }

  blockquote {
    border-left: 4px solid $oc-cyan-8;
    padding: 1rem;
    background: $oc-gray-1;
    margin-left: 0;
    margin-right: 0;
    p {
      margin: 0;
    }
  }

  h1, h2, h3, h4 {
    font-weight: 900;
  }

  // 텍스트 사이의 코드
  h1, h2, h3, h4, h5, p {
    code {
      background: $oc-gray-0;
      padding: 0.25rem;
      color: $oc-gray-6;
      border: 1px solid $oc-gray-2;
      border-radius: 2px;
    }
  }

  // 코드 블록
  code[class*="language-"], pre[class*="language-"] {
  }

  a {
    color: $oc-blue-6;
    &:hover {
      color: $oc-blue-5;
      text-decoration: underline;
    }
  }

  // 표 스타일
  table {
    border-collapse: collapse;
    width: 100%;
  }

  table, th, td {
    border: 1px solid $oc-gray-4;
  }

  th, td {
    font-size: 0.9rem;
    padding: 0.25rem;
    text-align: left;
  }


}