@import 'utils';
.button-wrapper{
      margin: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
}
.input-wrapper{
      margin-top: 1rem;
      display: flex;
      input{
            flex:1;
            height: 3rem;
            font-size: 1rem;
            padding: 1rem;
            width: 100%;
      }
      input + input {
            margin-left: 1.5rem;
      }
}
textarea{
      margin-top: 1rem;
      width: 100%;
      height: 17rem;
      font-size: 1rem;
      resize: none; 

      outline: none;
      border-radius: 2px;
      border: 1px solid $oc-gray-4;
      padding: 0.5rem;
      font-size: 1rem;
      transition: color .3s, border-color .3s;

      &:focus {
            border: 1px solid $oc-cyan-7;
            color: $oc-cyan-7;
            &::placeholder {
                  color: $oc-cyan-6;
            }
      }
}