@import 'utils';
.pagination {
  display: flex;
  width: 960px;
  margin :auto;
  transition: ease-in-out all 0.5s;
  margin-bottom: 1rem;
  @include media(">wide"){
      width: 1024px;
  }
  @include media(">wide"){
      width: 1024px;
  }
  @include media("<large"){
      width: 768px;
  }
  @include media("<medium"){
      width: calc(100% - 0.5rem);
  }
 
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    text-align: center;
    color: $oc-gray-6;
    flex: 1; // 남은 공간을 다 차지
  }
}