@import 'utils';

.post-item{
  .header{
    display: flex;
    align-items: center;
      .title{
          font-weight: 900;
          color: $oc-gray-9;
          font-size: 1rem;
          &.selected{
            color: $oc-cyan-9;
            font-weight: 900;
            text-decoration: underline
          }
          &:hover{
            color: $oc-cyan-9;
            font-weight: 900;
            text-decoration: underline;
            cursor: pointer;
            user-select: none;
          }
       }
      .date {
        font-size: 0.8rem;
        color: $oc-gray-6;
        margin-left: 1rem;
      }
    }
  .content{
    font-size: 0.7rem;
    margin-top: 1rem;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .tags {
    font-size: 0.7rem;
    color: $oc-blue-6;
  }
}
.post-item + .post-item {
      border-top: 1px solid $oc-gray-3;
      padding-top: 1rem;
}